@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  h4 {
    display: none;
  }

  img {
    width: 15%;
    align-self: center;
  }

  h2 {
    font-size: 14px;
  }

  .right {
    justify-content: center;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  h4 {
    display: none;
  }

  img {
    width: 15%;
    align-self: center;
  }

  h2 {
    font-size: 14px;
  }

  .right {
    justify-content: center;
  }
}
