@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  ol {
    width: 70%;
    flex-wrap: wrap;
  }

  button {
    font-size: 30px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }

  h3, h4, h5, p {
    font-size: 25px;
  }

  img {
    width: 100%;
  }

  .right {
    justify-content: center;
  }

  .left {
    flex-direction: column-reverse;
    height: 10vh;
    align-self: center;
  }

  h6 {
    font-size: 40px;
  }

  div.votes {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }

  p {
    width: 30px;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  ol {
    width: 70%;
    flex-wrap: wrap;
  }

  button {
    font-size: 30px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }

  h3, h4, h5, p {
    font-size: 25px;
  }

  img {
    width: 100%;
  }

  .right {
    justify-content: center;
  }

  .left {
    flex-direction: column-reverse;
    height: 10vh;
    align-self: center;
  }

  h6 {
    font-size: 40px;
  }

  div.votes {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }

  p {
    width: 30px;
    overflow: hidden;
    white-space: nowrap;
  }
}
