@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  h2 {
    font-size: 14px;
  }

  h4::before {
    content: "👍 ";
  }

  img {
    width: 100%;
  }

  .right {
    justify-content: center;
  }

  .left {
    flex-direction: column-reverse;
    height: 10vh;
    align-self: center;
  }

  p {
    display: none;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
}
