body {
  background: #F5F3EE;
  font-family: 'Roboto', cursive;
  margin-top: 20px;
}

.hidden {
  display: none;
}

h2, h5, h6, p {
  cursor: pointer;
}

h2:hover, h5:hover, p:hover {
  text-decoration: underline;
}

ul {
  display: flex;
  flex-direction: column;
  width: 94%;
  margin-left: 3%;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  border-top: #ccc 1px solid;
}

li:first-of-type {
  border-top: none;
}

img {
  width: 50%;
  height: 10vh;
  align-self: center;
}

.right {
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h2 {
  padding-left: 10px;
  display: inline;
}

.below {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.below > * {
  margin: 0 10px;
}

h4 {
  align-self: center;
}

h3 {
  color: #777;
}

i {
  margin-right: 10px;
}

button:focus {
  outline: none
}

button {
  position: absolute;
  right: 10px;
  top: 25px;
  color: #fff;
  padding: 5px 10px;
  color: #fff;
  background-color: #00aee6;
  text-shadow: -1px 1px #417cb8;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #009acc;
  text-shadow: -1px 1px #27496d;
}

button:active {
  background-color: #0087b3;
  text-shadow: -1px 1px #193047;
}

ol {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}

h6 {
  display: inline;
  padding: 0 10px;
  border-left: #aaa 1px solid;
  font-size: 16px;
  font-weight: bold;
}

h6:first-of-type {
  border-left: none;
}

h6:hover {
  background-color: #ddd;
}

img#loading {
  width: 20%;
  height: auto;
  margin-left: 40%;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
  align-items: center;
}

p {
  color: #777;
  display: inline-flex;
  align-self: center;
  font-size: 15px;
}

div#error {
  color: red;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background: #ddd;
}

#connect {
  top: 30%;
  left: 45%;
  right: 45%;
}

.votes {
  display: flex;
  flex-direction: column;
}

p {
  color: #777;
  display: inline-flex;
  align-self: center;
  font-size: 15px;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

h1:first-of-type {
  margin-top: 30px;
}

#notification::first-letter {
  text-transform: capitalize;
}

#notification {
  left: 20px;
  top: 20px;
  border-radius: 10px;
  position: absolute;
  font-size: medium;
  padding: 20px 30px;
  background: rgba(0, 150, 255, 0.6);
  color: #fff;
}

.picked {
  background-color: #ddd;
  color: #888;
}

.picked:hover {
  cursor: default;
}
